// primary colors

$primary-color1: #5BACC3;
$primary-color2: #FFF0ED;

// neutral colors

$neutral-color1: #393939;
$neutral-color2: #909090;
$neutral-color3: #F7F7F7;
$neutral-color4: #FFF;

// font variables

$font-colorPrimary: #393939;
$font-colorSecondary: #FFF;
$font-highlight: #5BACC3;
$font-alternate: #909090;